@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-barlow: "Barlow", sans-serif;
}

body {
  font-family: "Fraunces", serif;
  background-color: #fefcf7;
}

button,
a {
  cursor: pointer;
}

@layer utilities {
  .mask-gradient-to-b {
    -webkit-mask-image: linear-gradient(
      to bottom,
      #83888f 50.5%,
      transparent 100%
    );
    mask-image: linear-gradient(to bottom, #83888f 50.5%, transparent 100%);
  }
  .description {
    @apply font-barlow text-[15px] leading-6.25 xl:text-[16px] xl:leading-6.5 opacity-80;
  }
}
